body {
    font-family: Arial, sans-serif;
    background: #ff8c42;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: white;
    padding: 30px;
    border-radius: 10px;
    width: 300px;
}

h2 {
    text-align: center;
}

input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
}

button {
    width: 100%;
    padding: 10px;
    background: #cc5c00;
    color: white;
    border: none;
    cursor: pointer;
}